body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
@keyframes glitch {
  0% {
    text-shadow: 2px 2px #ff00c1, -2px -2px #00fff7;
  }
  20% {
    text-shadow: -2px 2px #ff00c1, 2px -2px #00fff7;
  }
  40% {
    text-shadow: 2px -2px #ff00c1, -2px 2px #00fff7;
  }
  60% {
    text-shadow: -1px -1px #ff00c1, 1px 1px #00fff7;
  }
  80% {
    text-shadow: 1px 1px #ff00c1, -1px -1px #00fff7;
  }
  100% {
    text-shadow: 2px 2px #ff00c1, -2px -2px #00fff7;
  }
}
